* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
}

body,
html,
#root {
  /* height: 100%; */
  min-height: 100vh;
}

.react-pdf__Page__textContent,
.react-pdf__Page__annotations {
  display: none;
}

.react-pdf__Page__canvas {
  display: flex;
  justify-content: center;
  max-width: 1100px;
  /* padding: 50px 150px 20px; */
  @media screen and (max-width: 768px) {
    padding: 30px 18px;
  }
}
